@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

#root{
  overflow-x: hidden;
}


.swiper{
  overflow: visible !important;
}

.swiper-pagination{
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 10px;
  z-index: 50;
}
.swiper-pagination-bullet{
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #b3b3b3;
}

.swiper-pagination-bullet-active{
  background-color: #666666;
}